<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Báo cáo thực tập - 1454050072</title>
  <!-- Latest compiled and minified CSS-->
  <link rel="stylesheet" href="../../public/assets/css/bootstrap_3-3-7.min.css">
  <!-- jQuery library -->
  <script src="../../public/assets/js/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="../../public/assets/js/bootstrap_3-3-7.min.js"></script>

  <link rel="stylesheet" href="../../public/assets/css/sites.css">
  <script src="../../public/assets/js/sites.js"></script>

</head>
<body>
  <div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
      <div class="sidebar-nav" id="page-div">
        <div class="navbar-collapse collapse sidebar-navbar-collapse noHover">
          <ul class="nav navbar-nav page-name">
            <li>
              <a href="#" class="collapsed" id=<%= siteInfo.siteId %>>
                <h4>
                  <%= siteInfo.siteName %>
                  <br>
                  <small>Page</small>
                </h4>
              </a>
              <!--<div class="collapse" id="toggleDemo0" style="height: 0px;">-->
              <!--<ul class="nav nav-list">-->
              <!--<li><a href="#">vtr-home</a></li>-->
              <!--<li><a href="#">ProfileSubMenu2</a></li>-->
              <!--<li><a href="#">ProfileSubMenu3</a></li>-->
              <!--</ul>-->
              <!--</div>-->
            </li>
          </ul>
        </div>
      </div>
      <div class="sidebar-nav" style="overflow:scroll">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav" id="sidenav02">
              <% siteInfo.pages.forEach(function (pageInfo, p_index) { %>
              <li>
                <a href="#" data-target="#toggleMenu<%=p_index+1%>" data-parent="#sidenav01" class="collapsed" id="<%= pageInfo.pageId %>">
                  <span class="glyphicon glyphicon-inbox"></span> <%= pageInfo.pageId %> </span>
                </a>
                <div class="collapse" id="toggleMenu<%=p_index+1%>" >
                  <ul class="nav nav-list">
                    <% pageInfo.sections.forEach(function (sectionInfo, s_index) { %>
                    <li data-target="#toggleSection<%=p_index+1%><%=s_index+1%>" id="<%sectionInfo.sectionId%>">
                      <a href="#<%= sectionInfo.sectionId %>"><%= sectionInfo.sectionId %></a>
                    </li>
                    <% }); %>
                  </ul>
                </div>
              </li>
              <% }); %>
              <!--<li class="active">-->
                <!--<a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav01" class="collapsed">-->
                  <!--<span class="glyphicon glyphicon-inbox"></span> Submenu 2 <span class="caret pull-right"></span>-->
                <!--</a>-->
                <!--&lt;!&ndash;<div class="collapse" id="toggleDemo2" style="height: 0px;">&ndash;&gt;-->
                  <!--&lt;!&ndash;<ul class="nav nav-list">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Submenu2.1</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Submenu2.2</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Submenu2.3</a></li>&ndash;&gt;-->
                  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--</li>-->
              <!--<li><a href="#"><span class="glyphicon glyphicon-lock"></span> Normalmenu</a></li>-->
              <!--<li><a href="#"><span class="glyphicon glyphicon-calendar"></span> WithBadges <span class="badge pull-right">42</span></a></li>-->
              <!--<li><a href=""><span class="glyphicon glyphicon-cog"></span> PreferencesMenu</a></li>-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-10 affix-content">
      <div class="form-group row">
        <span class="btn btn-default glyphicon glyphicon-home"></span>
        <label for="sel1">Capture IDs: </label>
        <select class="form-control" id="capture_selector">
          <% captureInfo.forEach(function(captInfo, c_index) { %>
          <option value=<%= captInfo.captureId %> <%= (crawlInfo[0].recordId == captInfo.captureId) ? 'selected' : '' %>>
            <span>[ <%= captInfo.captureId %> ]
              <%= moment.unix(captInfo.beginTime).format("MM/DD/YYYY, HH:mm:ss (Z)") %>
            </span>
          </option>
          <% }); %>
        </select>
      </div>
      <div class="container">
        <% siteInfo.pages.forEach((pageInfo, p_index) => {%>
          <% pageInfo.sections.forEach((sectionInfo, s_index) => {%>
            <h2 id=<%= sectionInfo.sectionId %>><%= sectionInfo.sectionId %></h2>
              <div class="elem-info container">
                <% if (sectionInfo.elems !== undefined) {%>
                  <% sectionInfo.elems.forEach((elemInfo, el_index) => {%>
                    <h3 class='elem-head-name'><%= elemInfo.elemId %><sup id="element-count<%= elemInfo.elemId %>"></sup></h3>
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Current HTML</th>
                        <th>Update at</th>
                      </tr>
                      </thead>
                      <tbody>
                        <% crawlInfo.forEach(function (elemsInfo, e_index) { %>
                        <% if(elemsInfo.weId.includes(elemInfo.elemId)){ %>
                        <tr>
                          <td class = "elems elems-index">
                            <%= elemsInfo.index %>
                          </td>
                          <td class = "elems elems-current-html">
                            <div class = "elems-current-html-item">
                              <%- elemsInfo.currentHtml %>
                            </div>
                          </td>
                          <td class = "elems elems-datetime">
                            <%= moment.unix(elemsInfo.updatedAt).format("MM/DD/YYYY, HH:mm:ss (Z)") %>
                          </td>
                        </tr>
                        <% } %>
                        <% });%>
                      </tbody>
                    </table>
                  <% });%>
                <% } %>
              </div>
            <% });%>
          <% }); %>
      </div>
    </div>
  </div>
</body>
