<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Báo cáo thực tập - 1454050072</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../public/assets/css/bootstrap_3-3-7.min.css">
    <!-- jQuery library -->
    <script src="../../public/assets/js/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="../../public/assets/js/bootstrap_3-3-7.min.js"></script>

    <link rel="stylesheet" href="../../public/assets/css/home-page.css">

  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Báo cáo thực tập tốt nghiệp</h1>
        <h2>1454050072 - Bùi Bảo Long</h2>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Site Name</th>
          <th>View</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td>
            <a class="btn btn-danger" href="/crawl/all-site" target="_blank">Crawl all site</a>
          </td>
        </tr>
        <% siteInfo.forEach(function (siteInfo, index) { %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= siteInfo.siteName %></td>
            <td>
              <a class="btn btn-default" href="/site/<%=siteInfo.siteId%>" target="_blank">View</a>
            </td>
            <td>
              <a class="btn btn-default" href="/crawl/element?id=<%=siteInfo.siteId%>&type=site" target="_blank">Crawl this site</a>
            </td>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
