/* make sidebar nav vertical */
.navbar {
  height: 100%;
}

.page-name {
  display: none;
  width: 100%;
  padding-left: 1%;
  padding-right: 0px;
}

.page-name h4{
  color: #555;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.noHover{
  pointer-events: none;
}

.icon-bar {
  background: #555;
}

.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
}

.glyphicon {
  margin-right: 5px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;

}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border: 1px solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

@media (min-width: 768px){
  .page-name {
    color: #fff;
    display: block;
  }

  .affix-content .container {
    width: 700px;
  }

  .affix-content {
    padding-top: 40px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }

  /*html,body{*/
  /*height: 100%;*/
  /*overflow: hidden;*/
  /*}*/

  .affix-content .container .page-header{
    margin-top: 0;
  }

  .navbar-header {
    display: none;
  }

  .sidebar-nav{
    position:relative;
    width:100%;
    background-color: #f8f8f8;
  }
  .affix-sidebar{
    padding-right:0;
    font-size:small;
    padding-left: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    z-index: 1;
    max-width: 280px;
    min-width: 200px;
  }
  .affix-row, .affix-container, .affix-content{
    /*height: 100%;*/
    margin-left: 0;
    margin-right: 0;
  }
  .affix-content{
    background-color:white;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    margin-bottom: 0;
    border-radius: 0px;
    border: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
  td.tdBigContent {
    max-width:300px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 992px){
  .affix-content .container {
    width: 900px;
  }
  .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  /*.affix-row{*/
  /*overflow: hidden;*/
  /*}*/

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .affix-title{
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #eee;
    color: #555555;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }
}

.form-group {
  padding-left: 20%;
}

.form-group *{
  vertical-align: middle;
  display: inline-block;
  max-width: 300px;
}

.elem-info {
  padding: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 1.5px 1px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 1.5px 1px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 1.5px 1px 10px 0px rgba(0,0,0,0.1);
}

.elem-info .elem-head-name {
  padding: 20px;
  margin: 0px;
  background-color: #f8f8f8;
}

.elems-datetime {
  max-width: 120px;
}

tr th {
  text-align: center;
}
thead {
  background-color: #f8f8f8;
  word-break: keep-all;
}

.elems-index {
  text-align: center;
  width: 50px;
}

.elems-current-html img {
  max-width: 600px;
  max-height: 200px;
}

.elems-trigger {
  word-break: break-all;
}

#page-div {
  cursor: hand;
}
